.field_dot_label {
    display: inline-block;
    vertical-align: top;
    margin: 0.45rem 0 0;
}

.field_after_dot_body {
    display: inline-block;
    margin: 0 0 0 0.6rem;
}

.field_name {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.field_explain {
    font-size: 1.4rem;
}